<!DOCTYPE HTML>
<html>
<head>
    <title>거래처 등록</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="/customer/add" method="post">
    <div>
        <label for="name">거래처 이름</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="phone">연락처</label>
        <input type="text" name="phone">
    </div>
    <div>
        <label for="category">분류</label>
        <input type="text" name="category">
    </div>
    <button type="submit">추가</button>
    <a href="/" role="button">취소</a>
</form>
</body>
</html>
