<!DOCTYPE HTML>
<html>
<head>
    <title>회원가입</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="join" method="post">
    <div>
        <label for="email">이메일</label>
        <input id="email" name="email" placeholder="이메일">
    </div>
    <div>
        <label for="name">이름</label>
        <input type="text" id="name" name="name" placeholder="이름">
    </div>
    <div>
        <label for="businessNo">사업번호</label>
        <input type="text" id="businessNo" name="businessNo" placeholder="사업번호">
    </div>
    <div>
        <label for="password">비밀번호</label>
        <input type="password" id="password" name="password" placeholder="비밀번호">
    </div>
    <div>
        <label for="address">주소</label>
        <input type="text" id="address" name="address" placeholder="주소">
    </div>
    <div>
        <label for="phone">전화번호</label>
        <input type="tel" id="phone" name="phone" placeholder="전화번호">
    </div>
    <div>
        <label for="gender">성별</label>
        <<input type="text" id="gender" name="gender" placeholder="성별">
    </div>
    <button type="submit">가입하기</button>
</form>
</body>
</html>
