<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="/stock/add" method="post">
    <div>
        <label for="name">재고명</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="count">수량</label>
        <input type="text" name="count">
    </div>
    <button type="submit">추가</button>
    <a href="/" role="button">취소</a>
</form>
</body>
</html>
